<div class="modal_message" style="display: none;">
    <div class="blockmodel">
        
    </div>
</div>

<div class="b-content b-content-gray clearfix">


    <div class="b-config-panel-wrapper">
        <div class="b-config-panel-container">
            <div class="b-config-wpanel b-config-wpanel-mtn " id="processor" data-quantity="" data-category_id="398" data-price="0" data-prev_price="0" data-games="1" data-padeg="процессором" data-percent="8">
                <div class="b-cwp-item">
                    <div class="b-cwp-item-tb">
                        <div class="b-cwp-item-td-step"><div class="b-cwp-item-step">1</div></div>
                        <div class="b-cwp-item-td-name"><div class="b-cwp-item-name">Процессор</div></div>
                        <div class="b-cwp-item-td-ico"><img src="/configurator/images/confg-ico-1.svg" alt=""></div>
                        <div class="b-cwp-item-td-desc"><div class="b-cwp-item-desc">Процессор пока еще не добавлен</div></div>
                        <div class="b-cwp-item-td-btns">
                            <a class="b-cwp-item-btn-add show_products" aria-expanded="true" title="Выбрать товар">Добавить</a>
                            <a class="b-cwrh-toggle hide_products" style="display: none;" href="javascript: void(0);" aria-expanded="true" title="Скрыть"><span></span></a>
                        </div>
                    </div>
                    <div class="b-cwp-item-tb ok" style="display: none;">
                        <div class="b-cwp-item-td-step"><div class="b-cwp-item-step-ok"></div></div>
                        <div class="b-cwp-item-td-name">
                            <div class="b-cwp-item-name">Процессор</div>
                            <a href="javascript: void(0);" class="part_helper">
                                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 67.657 67.657" style="enable-background:new 0 0 67.657 67.657;" xml:space="preserve">
<g><g><path d="M33.838,0C24.802,0,16.306,3.52,9.917,9.909c-6.39,6.39-9.908,14.884-9.908,23.92s3.519,17.53,9.908,23.92
			s14.884,9.908,23.92,9.908c9.035,0,17.531-3.519,23.92-9.908c13.189-13.19,13.189-34.651,0-47.842C51.369,3.518,42.873,0,33.838,0
			z M48.093,7.616l-7.496,7.498c-2.079-0.748-4.286-1.16-6.561-1.16c-2.239,0-4.411,0.399-6.461,1.125L19.927,7.43
			C24.164,5.191,28.909,4,33.839,4C38.902,4,43.769,5.257,48.093,7.616z M23.185,44.147c-5.982-5.982-5.982-15.717,0-21.699
			c2.899-2.898,6.753-4.494,10.851-4.494s7.952,1.596,10.85,4.494c5.982,5.982,5.982,15.718,0,21.701
			c-2.898,2.897-6.751,4.494-10.849,4.494C29.938,48.643,26.084,47.046,23.185,44.147z M8.287,18.418l7.768,7.768
			c-1.723,4.375-1.779,9.248-0.195,13.663l-8.234,8.235c-2.359-4.324-3.617-9.192-3.617-14.256
			C4.009,28.309,5.5,23.021,8.287,18.418z M18.761,59.575l8.258-8.256c2.209,0.859,4.576,1.324,7.018,1.324
			c2.478,0,4.88-0.475,7.117-1.359l8.094,8.095c-4.602,2.787-9.891,4.278-15.41,4.278C28.451,63.657,23.286,62.234,18.761,59.575z
			 M60.229,47.732l-7.982-7.982c1.535-4.356,1.478-9.147-0.195-13.464l7.528-7.528C64.781,27.645,64.997,38.667,60.229,47.732z"></path>
    </g>
</g>
</svg>
                            </a>                            <div class="b-incompatible-part" style="display: none;">Несовместимо: <a href="javascript: void(0);" data-toggle="modal" data-target="#popupHNoCompat"></a></div>
                            <div class="assembly_error" style="display: none;"></div>
                        </div>

                        <div class="b-cwp-item-td-ico b-cwp-item-td-ico-selected"><img src="/configurator/images/confg-pic-1.png" width="100" height="100" alt=""></div>
                        <div class="b-cwp-item-td-desc">
                            <a class="b-cwp-item-product-name" target="_blank" href=""></a>
                            <div class="b-cwp-item-product-articul"></div>
                        </div>
                        <div class="b-cwp-item-td-price">
                            <div class="cont">
                            </div>
                            <a class="b-cwp-btn-delete" href="javascript: void(0);">Удалить</a>
                        </div>
                        <div class="b-cwp-item-td-btns">
                            <a class="b-cwp-item-btn-change show_products" href="javascript: void(0);" title="Заменить">Заменить</a>
                            <a class="b-cwrh-toggle hide_products" style="display: none;" href="javascript: void(0);" aria-expanded="true" title="Скрыть"><span></span></a>
                        </div>

                    </div>
                </div>
                <div class="b-cwp-body collapse" id="collapseConfigBody398">
                    <div class="b-cwp-body-inner">
                        <div class="loader text-center" style="display: none;">
                            <svg width="44" height="44" viewBox="0 0 44 44" xmlns="http://www.w3.org/2000/svg" stroke="#60aa2a">
                                <g fill="none" fill-rule="evenodd" stroke-width="2">
                                    <circle cx="22" cy="22" r="1">
                                        <animate attributeName="r" begin="0s" dur="1.8s" values="1; 20" calcMode="spline" keyTimes="0; 1" keySplines="0.165, 0.84, 0.44, 1" repeatCount="indefinite"></animate>
                                        <animate attributeName="stroke-opacity" begin="0s" dur="1.8s" values="1; 0" calcMode="spline" keyTimes="0; 1" keySplines="0.3, 0.61, 0.355, 1" repeatCount="indefinite"></animate>
                                    </circle>
                                    <circle cx="22" cy="22" r="1">
                                        <animate attributeName="r" begin="-0.9s" dur="1.8s" values="1; 20" calcMode="spline" keyTimes="0; 1" keySplines="0.165, 0.84, 0.44, 1" repeatCount="indefinite"></animate>
                                        <animate attributeName="stroke-opacity" begin="-0.9s" dur="1.8s" values="1; 0" calcMode="spline" keyTimes="0; 1" keySplines="0.3, 0.61, 0.355, 1" repeatCount="indefinite"></animate>
                                    </circle>
                                </g>
                            </svg>
                        </div>
                        <div class="b-cwp-body-inner-pad" style="display: none;">
                            <div class="b-cwp-bi-side">
                            </div>
                            <div class="b-cwp-bi-main"><div class="b-catalog-top-info b-no-border">
    <div class="b-pagehead"><span class="b-head">Процессор</span> </div>
    <div class="b-catalog-top-info-meta clearfix">
        <div class="b-cat-sortmore" data-orderby="popular" data-orderway="desc">
        </div>

    </div>

                          

                        <ul class="b-cwp-bi-result-list">
                            
                        @foreach(var item in ViewBag.CPU)              {
                                    <li class="b-item" data-product_id="186243" data-price="@item.Price">
                            


                        <div class="b-cng-item-prod product_wrapper" data-product_global_id="186243" data-price="612">
                            <div class="b-cngip-pic">
                                <span>
                                    <img src="~/img/CPU_img/@item.TitleImagePath" width="100" alt="Фото Gigabyte GeForce RTX 2060 SUPER Gaming OC 3X 8192MB (GV-N206SGAMING OC-8GD)">
                                </span>
                            </div>
                            <div class="b-cngip-mid-col">
                                        <div class="b-cngip-head">
                                    <a target="_blank" href="https://nerdpart.com/ru/product/186243">@item.Name</a>
                                </div>


                                    <div class="b-cngip-tb-mpc">
                                        <div class="b-ctm-pic">
                                            <img src="" alt="">
                                        </div>
                                    </div>
        
                                <div class="b-cngip-mc-meta">
                                    <div class="b-cwp-item-product-articul">
                                                        Код: <i>@item.Id</i>
                                     </div>
                                </div>
                                <div class="b-cngip-short-chars">
                                    <p>Линейка: <span>@item.Lineika</span><br>Количество ядер: <span>@item.YadroQuantity</span><br>Разъем процессора (Socket):<span class="socketversion">@item.Socket</span></p>
                                 </div>

                            </div>
                            <div class="b-cngip-meta-col">
                                        <div class="b-cngip-multisystem">
                                            <div class="b-cngip-multisystem-label" data-toggle="collapse" data-target="#collapseMultiTotal186243" aria-expanded="false">
                                                <div class="b-cngip-price">@item.Price$</div>

                                            </div>
                                        </div>

            

        
                            </div>
                            <div class="b-cngip-meta-btn">
                                <ul class="b-htconf-btns-list">
                                                <li>
                                                            <a class="b-cngip-btn-add add_assembly_product" href="javascript: void(0);" title="Добавить в сборку">Добавить</a>
                                                    </li>
                                </ul>

                            </div>
                        </div>                    </li>
                                }
                            </ul>
                                
                            <div class="clear"></div>
                            <!-- /Pagination -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            </div>
            <div class="b-config-wpanel b-config-wpanel-mtn " id="matplata" data-quantity="" data-category_id="400" data-price="0" data-prev_price="0" data-games="0" data-padeg="материнской платой" data-percent="8">
                <div class="b-cwp-item">
                    <div class="b-cwp-item-tb">
                        <div class="b-cwp-item-td-step"><div class="b-cwp-item-step">2</div></div>
                        <div class="b-cwp-item-td-name"><div class="b-cwp-item-name">Материнская плата</div></div>
                        <div class="b-cwp-item-td-ico"><img src="/configurator/images/confg-ico-2.svg" alt=""></div>
                        <div class="b-cwp-item-td-desc"><div class="b-cwp-item-desc">Материнская плата пока еще не добавлена</div></div>
                        <div class="b-cwp-item-td-btns">
                            <a class="b-cwp-item-btn-add show_products" href="javascript: void(0);" aria-expanded="true" title="Выбрать товар">Добавить</a>
                            <a class="b-cwrh-toggle hide_products" style="display: none;" href="javascript: void(0);" aria-expanded="true" title="Скрыть"><span></span></a>
                        </div>
                    </div>
                    <div class="b-cwp-item-tb ok" style="display: none;">
                        <div class="b-cwp-item-td-step"><div class="b-cwp-item-step-ok"></div></div>
                        <div class="b-cwp-item-td-name">
                            <div class="b-cwp-item-name">Материнская плата</div>
                            <div class="b-incompatible-part" style="display: none;">Несовместимо: <a href="javascript: void(0);" data-toggle="modal" data-target="#popupHNoCompat"></a></div>
                            <div class="assembly_error" style="display: none;"></div>
                        </div>

                        <div class="b-cwp-item-td-ico b-cwp-item-td-ico-selected"><img src="/configurator/images/confg-pic-1.png" width="100" height="100" alt=""></div>
                        <div class="b-cwp-item-td-desc">
                            <a class="b-cwp-item-product-name" target="_blank" href=""></a>
                            <div class="b-cwp-item-product-articul"></div>
                        </div>
                        <div class="b-cwp-item-td-price">
                            <div class="cont">
                            </div>
                            <a class="b-cwp-btn-delete" href="javascript: void(0);">Удалить</a>
                        </div>
                        <div class="b-cwp-item-td-btns">
                            <a class="b-cwp-item-btn-change show_products" href="javascript: void(0);" title="Заменить">Заменить</a>
                            <a class="b-cwrh-toggle hide_products" style="display: none;" href="javascript: void(0);" aria-expanded="true" title="Скрыть"><span></span></a>
                        </div>

                    </div>
                </div>
                <div class="b-cwp-body collapse" id="collapseConfigBody400">
                    <div class="b-cwp-body-inner">
                        <div class="loader text-center">
                            <svg width="44" height="44" viewBox="0 0 44 44" xmlns="http://www.w3.org/2000/svg" stroke="#60aa2a">
                                <g fill="none" fill-rule="evenodd" stroke-width="2">
                                    <circle cx="22" cy="22" r="1">
                                        <animate attributeName="r" begin="0s" dur="1.8s" values="1; 20" calcMode="spline" keyTimes="0; 1" keySplines="0.165, 0.84, 0.44, 1" repeatCount="indefinite"></animate>
                                        <animate attributeName="stroke-opacity" begin="0s" dur="1.8s" values="1; 0" calcMode="spline" keyTimes="0; 1" keySplines="0.3, 0.61, 0.355, 1" repeatCount="indefinite"></animate>
                                    </circle>
                                    <circle cx="22" cy="22" r="1">
                                        <animate attributeName="r" begin="-0.9s" dur="1.8s" values="1; 20" calcMode="spline" keyTimes="0; 1" keySplines="0.165, 0.84, 0.44, 1" repeatCount="indefinite"></animate>
                                        <animate attributeName="stroke-opacity" begin="-0.9s" dur="1.8s" values="1; 0" calcMode="spline" keyTimes="0; 1" keySplines="0.3, 0.61, 0.355, 1" repeatCount="indefinite"></animate>
                                    </circle>
                                </g>
                            </svg>
                        </div>
                        <div class="b-cwp-body-inner-pad" style="display: none;">
                            <div class="b-cwp-bi-side">
                            </div>
                             <div class="b-cwp-bi-main"><div class="b-catalog-top-info b-no-border">
    <div class="b-pagehead"><span class="b-head">Материнская плата</span> </div>
    <div class="b-catalog-top-info-meta clearfix">
        <div class="b-cat-sortmore" data-orderby="popular" data-orderway="desc">
        </div>

    </div>

                          

                        <ul class="b-cwp-bi-result-list">
                            
                        @foreach(var item in ViewBag.Matplata)              {
                                    <li class="b-item" data-product_id="186243" data-price="@item.Price">
                            


                        <div class="b-cng-item-prod product_wrapper" data-product_global_id="186243" data-price="612">
                            <div class="b-cngip-pic">
                                <span>
                                    <img src="~/img/Matplata_img/@item.TitleImagePath" width="100" alt="Фото Gigabyte GeForce RTX 2060 SUPER Gaming OC 3X 8192MB (GV-N206SGAMING OC-8GD)">
                                </span>
                            </div>
                            <div class="b-cngip-mid-col">
                                        <div class="b-cngip-head">
                                    <a target="_blank" href="https://nerdpart.com/ru/product/186243">@item.Name</a>
                                </div>


                                    <div class="b-cngip-tb-mpc">
                                        <div class="b-ctm-pic">
                                            <img src="" alt="">
                                        </div>
                                    </div>
        
                                <div class="b-cngip-mc-meta">
                                    <div class="b-cwp-item-product-articul">
                                                        Код: <i>@item.Id</i>
                                     </div>
                                </div>
                                <div class="b-cngip-short-chars">
                                    <p>Совместимые ОЗУ: <span class="ozuversion">@item.Slot</span><br>Разъем процессора (Socket):<span class="socketversion">@item.Socket</span></p>
                                 </div>

                            </div>
                            <div class="b-cngip-meta-col">
                                        <div class="b-cngip-multisystem">
                                            <div class="b-cngip-multisystem-label" data-toggle="collapse" data-target="#collapseMultiTotal186243" aria-expanded="false">
                                                <div class="b-cngip-price">@item.Price$</div>

                                            </div>
                                        </div>

            

        
                            </div>
                            <div class="b-cngip-meta-btn">
                                <ul class="b-htconf-btns-list">
                                                <li>
                                                            <a class="b-cngip-btn-add add_assembly_product" href="javascript: void(0);" title="Добавить в сборку">Добавить</a>
                                                    </li>
                                </ul>

                            </div>
                        </div>                    </li>
                                }
                            </ul>
                                
                            <div class="clear"></div>
                            <!-- /Pagination -->
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="b-config-wpanel b-config-wpanel-mtn " id="videocard" data-quantity="" data-category_id="397" data-price="0" data-prev_price="0" data-games="1" data-padeg="видеокартой" data-percent="8">
                <div class="b-cwp-item">
                    <div class="b-cwp-item-tb">
                        <div class="b-cwp-item-td-step"><div class="b-cwp-item-step">3</div></div>
                        <div class="b-cwp-item-td-name"><div class="b-cwp-item-name">Видеокарта</div></div>
                        <div class="b-cwp-item-td-ico"><img src="/configurator/images/confg-ico-3.svg" alt=""></div>
                        <div class="b-cwp-item-td-desc"><div class="b-cwp-item-desc">Видеокарта пока еще не добавлена</div></div>
                        <div class="b-cwp-item-td-btns">
                            <a class="b-cwp-item-btn-add show_products" href="javascript: void(0);" aria-expanded="true" title="Выбрать товар">Добавить</a>
                            <a class="b-cwrh-toggle hide_products" style="display: none;" href="javascript: void(0);" aria-expanded="true" title="Скрыть"><span></span></a>
                        </div>
                    </div>
                    <div class="b-cwp-item-tb ok" style="display: none;">
                        <div class="b-cwp-item-td-step"><div class="b-cwp-item-step-ok"></div></div>
                        <div class="b-cwp-item-td-name">
                            <div class="b-cwp-item-name">Видеокарта</div>
                            <a href="javascript: void(0);" class="part_helper">
                                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 67.657 67.657" style="enable-background:new 0 0 67.657 67.657;" xml:space="preserve">
<g><g><path d="M33.838,0C24.802,0,16.306,3.52,9.917,9.909c-6.39,6.39-9.908,14.884-9.908,23.92s3.519,17.53,9.908,23.92
			s14.884,9.908,23.92,9.908c9.035,0,17.531-3.519,23.92-9.908c13.189-13.19,13.189-34.651,0-47.842C51.369,3.518,42.873,0,33.838,0
			z M48.093,7.616l-7.496,7.498c-2.079-0.748-4.286-1.16-6.561-1.16c-2.239,0-4.411,0.399-6.461,1.125L19.927,7.43
			C24.164,5.191,28.909,4,33.839,4C38.902,4,43.769,5.257,48.093,7.616z M23.185,44.147c-5.982-5.982-5.982-15.717,0-21.699
			c2.899-2.898,6.753-4.494,10.851-4.494s7.952,1.596,10.85,4.494c5.982,5.982,5.982,15.718,0,21.701
			c-2.898,2.897-6.751,4.494-10.849,4.494C29.938,48.643,26.084,47.046,23.185,44.147z M8.287,18.418l7.768,7.768
			c-1.723,4.375-1.779,9.248-0.195,13.663l-8.234,8.235c-2.359-4.324-3.617-9.192-3.617-14.256
			C4.009,28.309,5.5,23.021,8.287,18.418z M18.761,59.575l8.258-8.256c2.209,0.859,4.576,1.324,7.018,1.324
			c2.478,0,4.88-0.475,7.117-1.359l8.094,8.095c-4.602,2.787-9.891,4.278-15.41,4.278C28.451,63.657,23.286,62.234,18.761,59.575z
			 M60.229,47.732l-7.982-7.982c1.535-4.356,1.478-9.147-0.195-13.464l7.528-7.528C64.781,27.645,64.997,38.667,60.229,47.732z"></path>
    </g>
</g>
</svg>
                            </a>                            <div class="b-incompatible-part" style="display: none;">Несовместимо: <a href="javascript: void(0);" data-toggle="modal" data-target="#popupHNoCompat"></a></div>
                            <div class="assembly_error" style="display: none;"></div>
                        </div>

                        <div class="b-cwp-item-td-ico b-cwp-item-td-ico-selected"><img src="/configurator/images/confg-pic-1.png" width="100" height="100" alt=""></div>
                        <div class="b-cwp-item-td-desc">
                            <a class="b-cwp-item-product-name" target="_blank" href=""></a>
                            <div class="b-cwp-item-product-articul"></div>
                        </div>
                        <div class="b-cwp-item-td-qnt">
                            <ul class="b-obspq-list">
                                <li class="b-item">
                                    <input class="b-quant-inp" name="quantity" type="text" value="1" data-max_quantity="99">
                                </li>
                                <li class="b-item">
                                    <div class="b-quant-arrows">
                                        <a class="b-quant-inc" href="javascript: void(0);">добавить</a>
                                        <a class="b-quant-dec" href="javascript: void(0);" style="display: none;">удалить</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="b-cwp-item-td-price">
                            <div class="cont">
                            </div>
                            <a class="b-cwp-btn-delete" href="javascript: void(0);">Удалить</a>
                        </div>
                        <div class="b-cwp-item-td-btns">
                            <a class="b-cwp-item-btn-change show_products" href="javascript: void(0);" title="Заменить">Заменить</a>
                            <a class="b-cwrh-toggle hide_products" style="display: none;" href="javascript: void(0);" aria-expanded="true" title="Скрыть"><span></span></a>
                        </div>

                    </div>
                </div>
                <div class="b-cwp-body collapse" id="collapseConfigBody397">
                    <div class="b-cwp-body-inner">
                        <div class="loader text-center">
                            <svg width="44" height="44" viewBox="0 0 44 44" xmlns="http://www.w3.org/2000/svg" stroke="#60aa2a">
                                <g fill="none" fill-rule="evenodd" stroke-width="2">
                                    <circle cx="22" cy="22" r="1">
                                        <animate attributeName="r" begin="0s" dur="1.8s" values="1; 20" calcMode="spline" keyTimes="0; 1" keySplines="0.165, 0.84, 0.44, 1" repeatCount="indefinite"></animate>
                                        <animate attributeName="stroke-opacity" begin="0s" dur="1.8s" values="1; 0" calcMode="spline" keyTimes="0; 1" keySplines="0.3, 0.61, 0.355, 1" repeatCount="indefinite"></animate>
                                    </circle>
                                    <circle cx="22" cy="22" r="1">
                                        <animate attributeName="r" begin="-0.9s" dur="1.8s" values="1; 20" calcMode="spline" keyTimes="0; 1" keySplines="0.165, 0.84, 0.44, 1" repeatCount="indefinite"></animate>
                                        <animate attributeName="stroke-opacity" begin="-0.9s" dur="1.8s" values="1; 0" calcMode="spline" keyTimes="0; 1" keySplines="0.3, 0.61, 0.355, 1" repeatCount="indefinite"></animate>
                                    </circle>
                                </g>
                            </svg>
                        </div>
                        <div class="b-cwp-body-inner-pad" style="display: none;">
                            <div class="b-cwp-bi-side">
                            </div>
                             <div class="b-cwp-bi-main"><div class="b-catalog-top-info b-no-border">
    <div class="b-pagehead"><span class="b-head">Видеокарта</span> </div>
    <div class="b-catalog-top-info-meta clearfix">
        <div class="b-cat-sortmore" data-orderby="popular" data-orderway="desc">
        </div>

    </div>

                          

                        <ul class="b-cwp-bi-result-list">
                            
                        @foreach(var item in ViewBag.GPU)              {
                                    <li class="b-item" data-product_id="186243" data-price="@item.Price">
                            


                        <div class="b-cng-item-prod product_wrapper" data-product_global_id="186243" data-price="612">
                            <div class="b-cngip-pic">
                                <span>
                                    <img src="~/img/GPU_img/@item.TitleImagePath" width="100" alt="Фото Gigabyte GeForce RTX 2060 SUPER Gaming OC 3X 8192MB (GV-N206SGAMING OC-8GD)">
                                </span>
                            </div>
                            <div class="b-cngip-mid-col">
                                        <div class="b-cngip-head">
                                    <a target="_blank" href="">@item.Name</a>
                                </div>


                                    <div class="b-cngip-tb-mpc">
                                        <div class="b-ctm-pic">
                                            <img src="" alt="">
                                        </div>
                                    </div>
        
                                <div class="b-cngip-mc-meta">
                                    <div class="b-cwp-item-product-articul">
                                                        Код: <i>@item.Id</i>
                                     </div>
                                </div>
                                <div class="b-cngip-short-chars">
                                    <p>Память: <span>@item.Memory</span><br>Разъем GPU:<span>@item.TypeOfMemory</span></p>
                                 </div>

                            </div>
                            <div class="b-cngip-meta-col">
                                        <div class="b-cngip-multisystem">
                                            <div class="b-cngip-multisystem-label" data-toggle="collapse" data-target="#collapseMultiTotal186243" aria-expanded="false">
                                                <div class="b-cngip-price">@item.Price$</div>

                                            </div>
                                        </div>

            

        
                            </div>
                            <div class="b-cngip-meta-btn">
                                <ul class="b-htconf-btns-list">
                                                <li>
                                                            <a class="b-cngip-btn-add add_assembly_product" href="javascript: void(0);" title="Добавить в сборку">Добавить</a>
                                                    </li>
                                </ul>

                            </div>
                        </div>                    </li>
                                }
                            </ul>
                                
                            <div class="clear"></div>
                            <!-- /Pagination -->
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="b-config-wpanel b-config-wpanel-mtn " id="ozu" data-quantity="" data-category_id="403" data-price="0" data-prev_price="0" data-games="0" data-padeg="модулями памяти" data-percent="8">
                <div class="b-cwp-item">
                    <div class="b-cwp-item-tb">
                        <div class="b-cwp-item-td-step"><div class="b-cwp-item-step">4</div></div>
                        <div class="b-cwp-item-td-name"><div class="b-cwp-item-name">ОЗУ</div></div>
                        <div class="b-cwp-item-td-ico"><img src="/configurator/images/confg-ico-4.svg" alt=""></div>
                        <div class="b-cwp-item-td-desc"><div class="b-cwp-item-desc">Модули памяти пока еще не добавлены</div></div>
                        <div class="b-cwp-item-td-btns">
                            <a class="b-cwp-item-btn-add show_products" href="javascript: void(0);" aria-expanded="true" title="Выбрать товар">Добавить</a>
                            <a class="b-cwrh-toggle hide_products" style="display: none;" href="javascript: void(0);" aria-expanded="true" title="Скрыть"><span></span></a>
                        </div>
                    </div>
                    <div class="b-cwp-item-tb ok" style="display: none;">
                        <div class="b-cwp-item-td-step"><div class="b-cwp-item-step-ok"></div></div>
                        <div class="b-cwp-item-td-name">
                            <div class="b-cwp-item-name">Модули памяти</div>
                            <div class="b-incompatible-part" style="display: none;">Несовместимо: <a href="javascript: void(0);" data-toggle="modal" data-target="#popupHNoCompat"></a></div>
                            <div class="assembly_error" style="display: none;"></div>
                        </div>

                        <div class="b-cwp-item-td-ico b-cwp-item-td-ico-selected"><img src="/configurator/images/confg-pic-1.png" width="100" height="100" alt=""></div>
                        <div class="b-cwp-item-td-desc">
                            <a class="b-cwp-item-product-name" target="_blank" href=""></a>
                            <div class="b-cwp-item-product-articul"></div>
                        </div>
                        <div class="b-cwp-item-td-qnt">
                            <ul class="b-obspq-list">
                                <li class="b-item">
                                    <input class="b-quant-inp" name="quantity" type="text" value="1" data-max_quantity="99">
                                </li>
                                <li class="b-item">
                                    <div class="b-quant-arrows">
                                        <a class="b-quant-inc" href="javascript: void(0);">добавить</a>
                                        <a class="b-quant-dec" href="javascript: void(0);" style="display: none;">удалить</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="b-cwp-item-td-price">
                            <div class="cont">
                            </div>
                            <a class="b-cwp-btn-delete" href="javascript: void(0);">Удалить</a>
                        </div>
                        <div class="b-cwp-item-td-btns">
                            <a class="b-cwp-item-btn-change show_products" href="javascript: void(0);" title="Заменить">Заменить</a>
                            <a class="b-cwrh-toggle hide_products" style="display: none;" href="javascript: void(0);" aria-expanded="true" title="Скрыть"><span></span></a>
                        </div>

                    </div>
                </div>
                <div class="b-cwp-body collapse" id="collapseConfigBody403">
                    <div class="b-cwp-body-inner">
                        <div class="loader text-center">
                            <svg width="44" height="44" viewBox="0 0 44 44" xmlns="http://www.w3.org/2000/svg" stroke="#60aa2a">
                                <g fill="none" fill-rule="evenodd" stroke-width="2">
                                    <circle cx="22" cy="22" r="1">
                                        <animate attributeName="r" begin="0s" dur="1.8s" values="1; 20" calcMode="spline" keyTimes="0; 1" keySplines="0.165, 0.84, 0.44, 1" repeatCount="indefinite"></animate>
                                        <animate attributeName="stroke-opacity" begin="0s" dur="1.8s" values="1; 0" calcMode="spline" keyTimes="0; 1" keySplines="0.3, 0.61, 0.355, 1" repeatCount="indefinite"></animate>
                                    </circle>
                                    <circle cx="22" cy="22" r="1">
                                        <animate attributeName="r" begin="-0.9s" dur="1.8s" values="1; 20" calcMode="spline" keyTimes="0; 1" keySplines="0.165, 0.84, 0.44, 1" repeatCount="indefinite"></animate>
                                        <animate attributeName="stroke-opacity" begin="-0.9s" dur="1.8s" values="1; 0" calcMode="spline" keyTimes="0; 1" keySplines="0.3, 0.61, 0.355, 1" repeatCount="indefinite"></animate>
                                    </circle>
                                </g>
                            </svg>
                        </div>
                        <div class="b-cwp-body-inner-pad" style="display: none;">
                            <div class="b-cwp-bi-side">
                            </div>
                             <div class="b-cwp-bi-main"><div class="b-catalog-top-info b-no-border">
    <div class="b-pagehead"><span class="b-head">ОЗУ</span> </div>
    <div class="b-catalog-top-info-meta clearfix">
        <div class="b-cat-sortmore" data-orderby="popular" data-orderway="desc">
        </div>

    </div>

                          

                        <ul class="b-cwp-bi-result-list">
                            
                        @foreach(var item in ViewBag.RAM)              {
                                    <li class="b-item" data-product_id="186243" data-price="@item.Price">
                            


                        <div class="b-cng-item-prod product_wrapper" data-product_global_id="186243" data-price="612">
                            <div class="b-cngip-pic">
                                <span>
                                    <img src="~/img/RAM_img/@item.TitleImagePath" width="100" alt="">
                                </span>
                            </div>
                            <div class="b-cngip-mid-col">
                                        <div class="b-cngip-head">
                                    <a target="_blank" href="">@item.Name</a>
                                </div>


                                    <div class="b-cngip-tb-mpc">
                                        <div class="b-ctm-pic">
                                            <img src="" alt="">
                                        </div>
                                    </div>
        
                                <div class="b-cngip-mc-meta">
                                    <div class="b-cwp-item-product-articul">
                                                        Код: <i>@item.Id</i>
                                     </div>
                                </div>
                                <div class="b-cngip-short-chars">
                                    <p>Память: <span>@item.ColvoMemory</span><br>Разъем ОЗУ:<span class="ozuversion">@item.Type</span></p>
                                 </div>

                            </div>
                            <div class="b-cngip-meta-col">
                                        <div class="b-cngip-multisystem">
                                            <div class="b-cngip-multisystem-label" data-toggle="collapse" data-target="#collapseMultiTotal186243" aria-expanded="false">
                                                <div class="b-cngip-price">@item.Price$</div>

                                            </div>
                                        </div>

            

        
                            </div>
                            <div class="b-cngip-meta-btn">
                                <ul class="b-htconf-btns-list">
                                                <li>
                                                            <a class="b-cngip-btn-add add_assembly_product" href="javascript: void(0);" title="Добавить в сборку">Добавить</a>
                                                    </li>
                                </ul>

                            </div>
                        </div>                    </li>
                                }
                            </ul>
                                
                            <div class="clear"></div>
                            <!-- /Pagination -->
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="b-config-wpanel b-config-wpanel-mtn " id="blockpower" data-quantity="" data-category_id="406" data-price="0" data-prev_price="0" data-games="0" data-padeg="блоком питания" data-percent="7">
                <div class="b-cwp-item">
                    <div class="b-cwp-item-tb">
                        <div class="b-cwp-item-td-step"><div class="b-cwp-item-step">5</div></div>
                        <div class="b-cwp-item-td-name"><div class="b-cwp-item-name">Блок питания</div></div>
                        <div class="b-cwp-item-td-ico"><img src="/configurator/images/confg-ico-5.svg" alt=""></div>
                        <div class="b-cwp-item-td-desc"><div class="b-cwp-item-desc">Блок питания пока еще не добавлен</div></div>
                        <div class="b-cwp-item-td-btns">
                            <a class="b-cwp-item-btn-add show_products" href="javascript: void(0);" aria-expanded="true" title="Выбрать товар">Добавить</a>
                            <a class="b-cwrh-toggle hide_products" style="display: none;" href="javascript: void(0);" aria-expanded="true" title="Скрыть"><span></span></a>
                        </div>
                    </div>
                    <div class="b-cwp-item-tb ok" style="display: none;">
                        <div class="b-cwp-item-td-step"><div class="b-cwp-item-step-ok"></div></div>
                        <div class="b-cwp-item-td-name">
                            <div class="b-cwp-item-name">Блок питания</div>
                            <a href="javascript: void(0);" class="part_helper">
                                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 67.657 67.657" style="enable-background:new 0 0 67.657 67.657;" xml:space="preserve">
<g><g><path d="M33.838,0C24.802,0,16.306,3.52,9.917,9.909c-6.39,6.39-9.908,14.884-9.908,23.92s3.519,17.53,9.908,23.92
			s14.884,9.908,23.92,9.908c9.035,0,17.531-3.519,23.92-9.908c13.189-13.19,13.189-34.651,0-47.842C51.369,3.518,42.873,0,33.838,0
			z M48.093,7.616l-7.496,7.498c-2.079-0.748-4.286-1.16-6.561-1.16c-2.239,0-4.411,0.399-6.461,1.125L19.927,7.43
			C24.164,5.191,28.909,4,33.839,4C38.902,4,43.769,5.257,48.093,7.616z M23.185,44.147c-5.982-5.982-5.982-15.717,0-21.699
			c2.899-2.898,6.753-4.494,10.851-4.494s7.952,1.596,10.85,4.494c5.982,5.982,5.982,15.718,0,21.701
			c-2.898,2.897-6.751,4.494-10.849,4.494C29.938,48.643,26.084,47.046,23.185,44.147z M8.287,18.418l7.768,7.768
			c-1.723,4.375-1.779,9.248-0.195,13.663l-8.234,8.235c-2.359-4.324-3.617-9.192-3.617-14.256
			C4.009,28.309,5.5,23.021,8.287,18.418z M18.761,59.575l8.258-8.256c2.209,0.859,4.576,1.324,7.018,1.324
			c2.478,0,4.88-0.475,7.117-1.359l8.094,8.095c-4.602,2.787-9.891,4.278-15.41,4.278C28.451,63.657,23.286,62.234,18.761,59.575z
			 M60.229,47.732l-7.982-7.982c1.535-4.356,1.478-9.147-0.195-13.464l7.528-7.528C64.781,27.645,64.997,38.667,60.229,47.732z"></path>
    </g>
</g>
</svg>
                            </a>                            <div class="b-incompatible-part" style="display: none;">Несовместимо: <a href="javascript: void(0);" data-toggle="modal" data-target="#popupHNoCompat"></a></div>
                            <div class="assembly_error" style="display: none;"></div>
                        </div>

                        <div class="b-cwp-item-td-ico b-cwp-item-td-ico-selected"><img src="/configurator/images/confg-pic-1.png" width="100" height="100" alt=""></div>
                        <div class="b-cwp-item-td-desc">
                            <a class="b-cwp-item-product-name" target="_blank" href=""></a>
                            <div class="b-cwp-item-product-articul"></div>
                        </div>
                        <div class="b-cwp-item-td-price">
                            <div class="cont">
                            </div>
                            <a class="b-cwp-btn-delete" href="javascript: void(0);">Удалить</a>
                        </div>
                        <div class="b-cwp-item-td-btns">
                            <a class="b-cwp-item-btn-change show_products" href="javascript: void(0);" title="Заменить">Заменить</a>
                            <a class="b-cwrh-toggle hide_products" style="display: none;" href="javascript: void(0);" aria-expanded="true" title="Скрыть"><span></span></a>
                        </div>

                    </div>
                </div>
                <div class="b-cwp-body collapse" id="collapseConfigBody406">
                    <div class="b-cwp-body-inner">
                        <div class="loader text-center">
                            <svg width="44" height="44" viewBox="0 0 44 44" xmlns="http://www.w3.org/2000/svg" stroke="#60aa2a">
                                <g fill="none" fill-rule="evenodd" stroke-width="2">
                                    <circle cx="22" cy="22" r="1">
                                        <animate attributeName="r" begin="0s" dur="1.8s" values="1; 20" calcMode="spline" keyTimes="0; 1" keySplines="0.165, 0.84, 0.44, 1" repeatCount="indefinite"></animate>
                                        <animate attributeName="stroke-opacity" begin="0s" dur="1.8s" values="1; 0" calcMode="spline" keyTimes="0; 1" keySplines="0.3, 0.61, 0.355, 1" repeatCount="indefinite"></animate>
                                    </circle>
                                    <circle cx="22" cy="22" r="1">
                                        <animate attributeName="r" begin="-0.9s" dur="1.8s" values="1; 20" calcMode="spline" keyTimes="0; 1" keySplines="0.165, 0.84, 0.44, 1" repeatCount="indefinite"></animate>
                                        <animate attributeName="stroke-opacity" begin="-0.9s" dur="1.8s" values="1; 0" calcMode="spline" keyTimes="0; 1" keySplines="0.3, 0.61, 0.355, 1" repeatCount="indefinite"></animate>
                                    </circle>
                                </g>
                            </svg>
                        </div>
                        <div class="b-cwp-body-inner-pad" style="display: none;">
                            <div class="b-cwp-bi-side">
                            </div>
                             <div class="b-cwp-bi-main"><div class="b-catalog-top-info b-no-border">
    <div class="b-pagehead"><span class="b-head">Блок питания</span> </div>
    <div class="b-catalog-top-info-meta clearfix">
        <div class="b-cat-sortmore" data-orderby="popular" data-orderway="desc">
        </div>

    </div>

                          

                        <ul class="b-cwp-bi-result-list">
                            
                        @foreach(var item in ViewBag.BP)              {
                                    <li class="b-item" data-product_id="186243" data-price="@item.Price">
                            


                        <div class="b-cng-item-prod product_wrapper" data-product_global_id="186243" data-price="612">
                            <div class="b-cngip-pic">
                                <span>
                                    <img src="~/img/BP_img/@item.TitleImagePath" width="100" alt="Фото Gigabyte GeForce RTX 2060 SUPER Gaming OC 3X 8192MB (GV-N206SGAMING OC-8GD)">
                                </span>
                            </div>
                            <div class="b-cngip-mid-col">
                                        <div class="b-cngip-head">
                                    <a target="_blank" href="">@item.Name</a>
                                </div>


                                    <div class="b-cngip-tb-mpc">
                                        <div class="b-ctm-pic">
                                            <img src="" alt="">
                                        </div>
                                    </div>
        
                                <div class="b-cngip-mc-meta">
                                    <div class="b-cwp-item-product-articul">
                                                        Код: <i>@item.Id</i>
                                     </div>
                                </div>
                                <div class="b-cngip-short-chars">
                                    <p>Мощность: <span>@item.Power Вт</span></p>
                                 </div>

                            </div>
                            <div class="b-cngip-meta-col">
                                        <div class="b-cngip-multisystem">
                                            <div class="b-cngip-multisystem-label" data-toggle="collapse" data-target="#collapseMultiTotal186243" aria-expanded="false">
                                                <div class="b-cngip-price">@item.Price$</div>

                                            </div>
                                        </div>

            

        
                            </div>
                            <div class="b-cngip-meta-btn">
                                <ul class="b-htconf-btns-list">
                                                <li>
                                                            <a class="b-cngip-btn-add add_assembly_product" href="javascript: void(0);" title="Добавить в сборку">Добавить</a>
                                                    </li>
                                </ul>

                            </div>
                        </div>                    </li>
                                }
                            </ul>
                                
                            <div class="clear"></div>
                            <!-- /Pagination -->
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="b-config-wpanel b-config-wpanel-mtn " id="systemcold" data-quantity="" data-category_id="1317" data-price="0" data-prev_price="0" data-games="0" data-padeg="системой охлаждения" data-percent="5">
                <div class="b-cwp-item">
                    <div class="b-cwp-item-tb">
                        <div class="b-cwp-item-td-step"><div class="b-cwp-item-step">6</div></div>
                        <div class="b-cwp-item-td-name"><div class="b-cwp-item-name">Система охлаждения</div></div>
                        <div class="b-cwp-item-td-ico"><img src="/configurator/images/confg-ico-6.svg" alt=""></div>
                        <div class="b-cwp-item-td-desc"><div class="b-cwp-item-desc">Системы охлаждения пока еще не добавлены</div></div>
                        <div class="b-cwp-item-td-btns">
                            <a class="b-cwp-item-btn-add show_products" href="javascript: void(0);" aria-expanded="true" title="Выбрать товар">Добавить</a>
                            <a class="b-cwrh-toggle hide_products" style="display: none;" href="javascript: void(0);" aria-expanded="true" title="Скрыть"><span></span></a>
                        </div>
                    </div>
                    <div class="b-cwp-item-tb ok" style="display: none;">
                        <div class="b-cwp-item-td-step"><div class="b-cwp-item-step-ok"></div></div>
                        <div class="b-cwp-item-td-name">
                            <div class="b-cwp-item-name">Система охлаждения</div>
                            <a href="javascript: void(0);" class="part_helper">
                                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 67.657 67.657" style="enable-background:new 0 0 67.657 67.657;" xml:space="preserve">
<g><g><path d="M33.838,0C24.802,0,16.306,3.52,9.917,9.909c-6.39,6.39-9.908,14.884-9.908,23.92s3.519,17.53,9.908,23.92
			s14.884,9.908,23.92,9.908c9.035,0,17.531-3.519,23.92-9.908c13.189-13.19,13.189-34.651,0-47.842C51.369,3.518,42.873,0,33.838,0
			z M48.093,7.616l-7.496,7.498c-2.079-0.748-4.286-1.16-6.561-1.16c-2.239,0-4.411,0.399-6.461,1.125L19.927,7.43
			C24.164,5.191,28.909,4,33.839,4C38.902,4,43.769,5.257,48.093,7.616z M23.185,44.147c-5.982-5.982-5.982-15.717,0-21.699
			c2.899-2.898,6.753-4.494,10.851-4.494s7.952,1.596,10.85,4.494c5.982,5.982,5.982,15.718,0,21.701
			c-2.898,2.897-6.751,4.494-10.849,4.494C29.938,48.643,26.084,47.046,23.185,44.147z M8.287,18.418l7.768,7.768
			c-1.723,4.375-1.779,9.248-0.195,13.663l-8.234,8.235c-2.359-4.324-3.617-9.192-3.617-14.256
			C4.009,28.309,5.5,23.021,8.287,18.418z M18.761,59.575l8.258-8.256c2.209,0.859,4.576,1.324,7.018,1.324
			c2.478,0,4.88-0.475,7.117-1.359l8.094,8.095c-4.602,2.787-9.891,4.278-15.41,4.278C28.451,63.657,23.286,62.234,18.761,59.575z
			 M60.229,47.732l-7.982-7.982c1.535-4.356,1.478-9.147-0.195-13.464l7.528-7.528C64.781,27.645,64.997,38.667,60.229,47.732z"></path>
    </g>
</g>
</svg>
                            </a>                            <div class="b-incompatible-part" style="display: none;">Несовместимо: <a href="javascript: void(0);" data-toggle="modal" data-target="#popupHNoCompat"></a></div>
                            <div class="assembly_error" style="display: none;"></div>
                        </div>

                        <div class="b-cwp-item-td-ico b-cwp-item-td-ico-selected"><img src="/configurator/images/confg-pic-1.png" width="100" height="100" alt=""></div>
                        <div class="b-cwp-item-td-desc">
                            <a class="b-cwp-item-product-name" target="_blank" href=""></a>
                            <div class="b-cwp-item-product-articul"></div>
                        </div>
                        <div class="b-cwp-item-td-price">
                            <div class="cont">
                            </div>
                            <a class="b-cwp-btn-delete" href="javascript: void(0);">Удалить</a>
                        </div>
                        <div class="b-cwp-item-td-btns">
                            <a class="b-cwp-item-btn-change show_products" href="javascript: void(0);" title="Заменить">Заменить</a>
                            <a class="b-cwrh-toggle hide_products" style="display: none;" href="javascript: void(0);" aria-expanded="true" title="Скрыть"><span></span></a>
                        </div>

                    </div>
                </div>
                <div class="b-cwp-body collapse" id="collapseConfigBody1317">
                    <div class="b-cwp-body-inner">
                        <div class="loader text-center">
                            <svg width="44" height="44" viewBox="0 0 44 44" xmlns="http://www.w3.org/2000/svg" stroke="#60aa2a">
                                <g fill="none" fill-rule="evenodd" stroke-width="2">
                                    <circle cx="22" cy="22" r="1">
                                        <animate attributeName="r" begin="0s" dur="1.8s" values="1; 20" calcMode="spline" keyTimes="0; 1" keySplines="0.165, 0.84, 0.44, 1" repeatCount="indefinite"></animate>
                                        <animate attributeName="stroke-opacity" begin="0s" dur="1.8s" values="1; 0" calcMode="spline" keyTimes="0; 1" keySplines="0.3, 0.61, 0.355, 1" repeatCount="indefinite"></animate>
                                    </circle>
                                    <circle cx="22" cy="22" r="1">
                                        <animate attributeName="r" begin="-0.9s" dur="1.8s" values="1; 20" calcMode="spline" keyTimes="0; 1" keySplines="0.165, 0.84, 0.44, 1" repeatCount="indefinite"></animate>
                                        <animate attributeName="stroke-opacity" begin="-0.9s" dur="1.8s" values="1; 0" calcMode="spline" keyTimes="0; 1" keySplines="0.3, 0.61, 0.355, 1" repeatCount="indefinite"></animate>
                                    </circle>
                                </g>
                            </svg>
                        </div>
                        <div class="b-cwp-body-inner-pad" style="display: none;">
                            <div class="b-cwp-bi-side">
                            </div>
                             <div class="b-cwp-bi-main"><div class="b-catalog-top-info b-no-border">
    <div class="b-pagehead"><span class="b-head">Система охлаждения</span> </div>
    <div class="b-catalog-top-info-meta clearfix">
        <div class="b-cat-sortmore" data-orderby="popular" data-orderway="desc">
        </div>

    </div>

                          

                        <ul class="b-cwp-bi-result-list">
                            
                        @foreach(var item in ViewBag.Cooler)              {
                                    <li class="b-item" data-product_id="186243" data-price="@item.Price">
                            


                        <div class="b-cng-item-prod product_wrapper" data-product_global_id="186243" data-price="612">
                            <div class="b-cngip-pic">
                                <span>
                                    <img src="~/img/Coler_img/@item.TitleImagePath" width="100" alt="Фото Gigabyte GeForce RTX 2060 SUPER Gaming OC 3X 8192MB (GV-N206SGAMING OC-8GD)">
                                </span>
                            </div>
                            <div class="b-cngip-mid-col">
                                        <div class="b-cngip-head">
                                    <a target="_blank" href="https://nerdpart.com/ru/product/186243">@item.Name</a>
                                </div>


                                    <div class="b-cngip-tb-mpc">
                                        <div class="b-ctm-pic">
                                            <img src="" alt="">
                                        </div>
                                    </div>
        
                                <div class="b-cngip-mc-meta">
                                    <div class="b-cwp-item-product-articul">
                                                        Код: <i>@item.Id</i>
                                     </div>
                                </div>
                                <div class="b-cngip-short-chars">
                                    <p>Описание:<span>@item.Desc</span></p>
                                 </div>

                            </div>
                            <div class="b-cngip-meta-col">
                                        <div class="b-cngip-multisystem">
                                            <div class="b-cngip-multisystem-label" data-toggle="collapse" data-target="#collapseMultiTotal186243" aria-expanded="false">
                                                <div class="b-cngip-price">@item.Price$</div>

                                            </div>
                                        </div>

            

        
                            </div>
                            <div class="b-cngip-meta-btn">
                                <ul class="b-htconf-btns-list">
                                                <li>
                                                            <a class="b-cngip-btn-add add_assembly_product" href="javascript: void(0);" title="Добавить в сборку">Добавить</a>
                                                    </li>
                                </ul>

                            </div>
                        </div>                    </li>
                                }
                            </ul>
                                
                            <div class="clear"></div>
                            <!-- /Pagination -->
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="b-config-wpanel b-config-wpanel-mtn " id="ssd" data-quantity="" data-category_id="407" data-price="0" data-prev_price="0" data-games="0" data-padeg="SSD диском" data-percent="5">
                <div class="b-cwp-item">
                    <div class="b-cwp-item-tb">
                        <div class="b-cwp-item-td-step"><div class="b-cwp-item-step">7</div></div>
                        <div class="b-cwp-item-td-name"><div class="b-cwp-item-name">SSD диск</div></div>
                        <div class="b-cwp-item-td-ico"><img src="/configurator/images/confg-ico-7.svg" alt=""></div>
                        <div class="b-cwp-item-td-desc"><div class="b-cwp-item-desc">SSD диск пока еще не добавлен</div></div>
                        <div class="b-cwp-item-td-btns">
                            <a class="b-cwp-item-btn-add show_products" href="javascript: void(0);" aria-expanded="true" title="Выбрать товар">Добавить</a>
                            <a class="b-cwrh-toggle hide_products" style="display: none;" href="javascript: void(0);" aria-expanded="true" title="Скрыть"><span></span></a>
                        </div>
                    </div>
                    <div class="b-cwp-item-tb ok" style="display: none;">
                        <div class="b-cwp-item-td-step"><div class="b-cwp-item-step-ok"></div></div>
                        <div class="b-cwp-item-td-name">
                            <div class="b-cwp-item-name">SSD диск</div>
                            <a href="javascript: void(0);" class="part_helper">
                                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 67.657 67.657" style="enable-background:new 0 0 67.657 67.657;" xml:space="preserve">
<g><g><path d="M33.838,0C24.802,0,16.306,3.52,9.917,9.909c-6.39,6.39-9.908,14.884-9.908,23.92s3.519,17.53,9.908,23.92
			s14.884,9.908,23.92,9.908c9.035,0,17.531-3.519,23.92-9.908c13.189-13.19,13.189-34.651,0-47.842C51.369,3.518,42.873,0,33.838,0
			z M48.093,7.616l-7.496,7.498c-2.079-0.748-4.286-1.16-6.561-1.16c-2.239,0-4.411,0.399-6.461,1.125L19.927,7.43
			C24.164,5.191,28.909,4,33.839,4C38.902,4,43.769,5.257,48.093,7.616z M23.185,44.147c-5.982-5.982-5.982-15.717,0-21.699
			c2.899-2.898,6.753-4.494,10.851-4.494s7.952,1.596,10.85,4.494c5.982,5.982,5.982,15.718,0,21.701
			c-2.898,2.897-6.751,4.494-10.849,4.494C29.938,48.643,26.084,47.046,23.185,44.147z M8.287,18.418l7.768,7.768
			c-1.723,4.375-1.779,9.248-0.195,13.663l-8.234,8.235c-2.359-4.324-3.617-9.192-3.617-14.256
			C4.009,28.309,5.5,23.021,8.287,18.418z M18.761,59.575l8.258-8.256c2.209,0.859,4.576,1.324,7.018,1.324
			c2.478,0,4.88-0.475,7.117-1.359l8.094,8.095c-4.602,2.787-9.891,4.278-15.41,4.278C28.451,63.657,23.286,62.234,18.761,59.575z
			 M60.229,47.732l-7.982-7.982c1.535-4.356,1.478-9.147-0.195-13.464l7.528-7.528C64.781,27.645,64.997,38.667,60.229,47.732z"></path>
    </g>
</g>
</svg>
                            </a>                            <div class="b-incompatible-part" style="display: none;">Несовместимо: <a href="javascript: void(0);" data-toggle="modal" data-target="#popupHNoCompat"></a></div>
                            <div class="assembly_error" style="display: none;"></div>
                        </div>

                        <div class="b-cwp-item-td-ico b-cwp-item-td-ico-selected"><img src="/configurator/images/confg-pic-1.png" width="100" height="100" alt=""></div>
                        <div class="b-cwp-item-td-desc">
                            <a class="b-cwp-item-product-name" target="_blank" href=""></a>
                            <div class="b-cwp-item-product-articul"></div>
                        </div>
                        <div class="b-cwp-item-td-qnt">
                            <ul class="b-obspq-list">
                                <li class="b-item">
                                    <input class="b-quant-inp" name="quantity" type="text" value="1" data-max_quantity="99">
                                </li>
                                <li class="b-item">
                                    <div class="b-quant-arrows">
                                        <a class="b-quant-inc" href="javascript: void(0);">добавить</a>
                                        <a class="b-quant-dec" href="javascript: void(0);" style="display: none;">удалить</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="b-cwp-item-td-price">
                            <div class="cont">
                            </div>
                            <a class="b-cwp-btn-delete" href="javascript: void(0);">Удалить</a>
                        </div>
                        <div class="b-cwp-item-td-btns">
                            <a class="b-cwp-item-btn-change show_products" href="javascript: void(0);" title="Заменить">Заменить</a>
                            <a class="b-cwrh-toggle hide_products" style="display: none;" href="javascript: void(0);" aria-expanded="true" title="Скрыть"><span></span></a>
                        </div>

                    </div>
                </div>
                <div class="b-cwp-body collapse" id="collapseConfigBody407">
                    <div class="b-cwp-body-inner">
                        <div class="loader text-center">
                            <svg width="44" height="44" viewBox="0 0 44 44" xmlns="http://www.w3.org/2000/svg" stroke="#60aa2a">
                                <g fill="none" fill-rule="evenodd" stroke-width="2">
                                    <circle cx="22" cy="22" r="1">
                                        <animate attributeName="r" begin="0s" dur="1.8s" values="1; 20" calcMode="spline" keyTimes="0; 1" keySplines="0.165, 0.84, 0.44, 1" repeatCount="indefinite"></animate>
                                        <animate attributeName="stroke-opacity" begin="0s" dur="1.8s" values="1; 0" calcMode="spline" keyTimes="0; 1" keySplines="0.3, 0.61, 0.355, 1" repeatCount="indefinite"></animate>
                                    </circle>
                                    <circle cx="22" cy="22" r="1">
                                        <animate attributeName="r" begin="-0.9s" dur="1.8s" values="1; 20" calcMode="spline" keyTimes="0; 1" keySplines="0.165, 0.84, 0.44, 1" repeatCount="indefinite"></animate>
                                        <animate attributeName="stroke-opacity" begin="-0.9s" dur="1.8s" values="1; 0" calcMode="spline" keyTimes="0; 1" keySplines="0.3, 0.61, 0.355, 1" repeatCount="indefinite"></animate>
                                    </circle>
                                </g>
                            </svg>
                        </div>
                        <div class="b-cwp-body-inner-pad" style="display: none;">
                            <div class="b-cwp-bi-side">
                            </div>
                             <div class="b-cwp-bi-main"><div class="b-catalog-top-info b-no-border">
    <div class="b-pagehead"><span class="b-head">SSD диск</span> </div>
    <div class="b-catalog-top-info-meta clearfix">
        <div class="b-cat-sortmore" data-orderby="popular" data-orderway="desc">
        </div>

    </div>

                          

                        <ul class="b-cwp-bi-result-list">
                            
                        @foreach(var item in ViewBag.ColvoMemory)              {
                                    <li class="b-item" data-product_id="186243" data-price="@item.Price">
                            


                        <div class="b-cng-item-prod product_wrapper" data-product_global_id="186243" data-price="612">
                            <div class="b-cngip-pic">
                                <span>
                                    <img src="~/img/CM_img/@item.TitleImagePath" width="100" alt="Фото Gigabyte GeForce RTX 2060 SUPER Gaming OC 3X 8192MB (GV-N206SGAMING OC-8GD)">
                                </span>
                            </div>
                            <div class="b-cngip-mid-col">
                                        <div class="b-cngip-head">
                                    <a target="_blank" href="https://nerdpart.com/ru/product/186243">@item.Name</a>
                                </div>


                                    <div class="b-cngip-tb-mpc">
                                        <div class="b-ctm-pic">
                                            <img src="" alt="">
                                        </div>
                                    </div>
        
                                <div class="b-cngip-mc-meta">
                                    <div class="b-cwp-item-product-articul">
                                                        Код: <i>@item.Id</i>
                                     </div>
                                </div>
                                <div class="b-cngip-short-chars">
                                    <p>Объем памяти: <span>@item.Colvo</span><br>Разъем:<span>@item.Desc</span></p>
                                 </div>

                            </div>
                            <div class="b-cngip-meta-col">
                                        <div class="b-cngip-multisystem">
                                            <div class="b-cngip-multisystem-label" data-toggle="collapse" data-target="#collapseMultiTotal186243" aria-expanded="false">
                                                <div class="b-cngip-price">@item.Price$</div>

                                            </div>
                                        </div>

            

        
                            </div>
                            <div class="b-cngip-meta-btn">
                                <ul class="b-htconf-btns-list">
                                                <li>
                                                            <a class="b-cngip-btn-add add_assembly_product" href="javascript: void(0);" title="Добавить в сборку">Добавить</a>
                                                    </li>
                                </ul>

                            </div>
                        </div>                    </li>
                                }
                            </ul>
                                
                            <div class="clear"></div>
                            <!-- /Pagination -->
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="b-config-wpanel b-config-wpanel-mtn " id="dvd" data-quantity="" data-category_id="399" data-price="0" data-prev_price="0" data-games="0" data-padeg="HDD диском" data-percent="5">
                <div class="b-cwp-item">
                    <div class="b-cwp-item-tb">
                        <div class="b-cwp-item-td-step"><div class="b-cwp-item-step">8</div></div>
                        <div class="b-cwp-item-td-name"><div class="b-cwp-item-name">DVD слот</div></div>
                        <div class="b-cwp-item-td-ico"><img src="/configurator/images/confg-ico-13.svg" alt=""></div>
                        <div class="b-cwp-item-td-desc"><div class="b-cwp-item-desc">HDD диск пока еще не добавлен</div></div>
                        <div class="b-cwp-item-td-btns">
                            <a class="b-cwp-item-btn-add show_products" href="javascript: void(0);" aria-expanded="true" title="Выбрать товар">Добавить</a>
                            <a class="b-cwrh-toggle hide_products" style="display: none;" href="javascript: void(0);" aria-expanded="true" title="Скрыть"><span></span></a>
                        </div>
                    </div>
                    <div class="b-cwp-item-tb ok" style="display: none;">
                        <div class="b-cwp-item-td-step"><div class="b-cwp-item-step-ok"></div></div>
                        <div class="b-cwp-item-td-name">
                            <div class="b-cwp-item-name">HDD диск</div>
                            <div class="b-incompatible-part" style="display: none;">Несовместимо: <a href="javascript: void(0);" data-toggle="modal" data-target="#popupHNoCompat"></a></div>
                            <div class="assembly_error" style="display: none;"></div>
                        </div>

                        <div class="b-cwp-item-td-ico b-cwp-item-td-ico-selected"><img src="/configurator/images/confg-pic-1.png" width="100" height="100" alt=""></div>
                        <div class="b-cwp-item-td-desc">
                            <a class="b-cwp-item-product-name" target="_blank" href=""></a>
                            <div class="b-cwp-item-product-articul"></div>
                        </div>
                        <div class="b-cwp-item-td-qnt">
                            <ul class="b-obspq-list">
                                <li class="b-item">
                                    <input class="b-quant-inp" name="quantity" type="text" value="1" data-max_quantity="99">
                                </li>
                                <li class="b-item">
                                    <div class="b-quant-arrows">
                                        <a class="b-quant-inc" href="javascript: void(0);">добавить</a>
                                        <a class="b-quant-dec" href="javascript: void(0);" style="display: none;">удалить</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="b-cwp-item-td-price">
                            <div class="cont">
                            </div>
                            <a class="b-cwp-btn-delete" href="javascript: void(0);">Удалить</a>
                        </div>
                        <div class="b-cwp-item-td-btns">
                            <a class="b-cwp-item-btn-change show_products" href="javascript: void(0);" title="Заменить">Заменить</a>
                            <a class="b-cwrh-toggle hide_products" style="display: none;" href="javascript: void(0);" aria-expanded="true" title="Скрыть"><span></span></a>
                        </div>

                    </div>
                </div>
                <div class="b-cwp-body collapse" id="collapseConfigBody399">
                    <div class="b-cwp-body-inner">
                        <div class="loader text-center">
                            <svg width="44" height="44" viewBox="0 0 44 44" xmlns="http://www.w3.org/2000/svg" stroke="#60aa2a">
                                <g fill="none" fill-rule="evenodd" stroke-width="2">
                                    <circle cx="22" cy="22" r="1">
                                        <animate attributeName="r" begin="0s" dur="1.8s" values="1; 20" calcMode="spline" keyTimes="0; 1" keySplines="0.165, 0.84, 0.44, 1" repeatCount="indefinite"></animate>
                                        <animate attributeName="stroke-opacity" begin="0s" dur="1.8s" values="1; 0" calcMode="spline" keyTimes="0; 1" keySplines="0.3, 0.61, 0.355, 1" repeatCount="indefinite"></animate>
                                    </circle>
                                    <circle cx="22" cy="22" r="1">
                                        <animate attributeName="r" begin="-0.9s" dur="1.8s" values="1; 20" calcMode="spline" keyTimes="0; 1" keySplines="0.165, 0.84, 0.44, 1" repeatCount="indefinite"></animate>
                                        <animate attributeName="stroke-opacity" begin="-0.9s" dur="1.8s" values="1; 0" calcMode="spline" keyTimes="0; 1" keySplines="0.3, 0.61, 0.355, 1" repeatCount="indefinite"></animate>
                                    </circle>
                                </g>
                            </svg>
                        </div>
                        <div class="b-cwp-body-inner-pad" style="display: none;">
                            <div class="b-cwp-bi-side">
                            </div>
                             <div class="b-cwp-bi-main"><div class="b-catalog-top-info b-no-border">
    <div class="b-pagehead"><span class="b-head">DVD слот</span> </div>
    <div class="b-catalog-top-info-meta clearfix">
        <div class="b-cat-sortmore" data-orderby="popular" data-orderway="desc">
        </div>

    </div>

                          

                        <ul class="b-cwp-bi-result-list">
                            
                        @foreach(var item in ViewBag.DVD)              {
                                    <li class="b-item" data-product_id="186243" data-price="@item.Price">
                            


                        <div class="b-cng-item-prod product_wrapper" data-product_global_id="186243" data-price="612">
                            <div class="b-cngip-pic">
                                <span>
                                    <img src="~/img/DVD_img/@item.TitleImagePath" width="100" alt="Фото Gigabyte GeForce RTX 2060 SUPER Gaming OC 3X 8192MB (GV-N206SGAMING OC-8GD)">
                                </span>
                            </div>
                            <div class="b-cngip-mid-col">
                                        <div class="b-cngip-head">
                                    <a target="_blank" href="https://nerdpart.com/ru/product/186243">@item.Name</a>
                                </div>


                                    <div class="b-cngip-tb-mpc">
                                        <div class="b-ctm-pic">
                                            <img src="" alt="">
                                        </div>
                                    </div>
        
                                <div class="b-cngip-mc-meta">
                                    <div class="b-cwp-item-product-articul">
                                                        Код: <i>@item.Id</i>
                                     </div>
                                </div>
                                <div class="b-cngip-short-chars">
                                    <p>Тип слота: <span>SATA 2</span><br>Описание:<span>@item.Desc</span></p>
                                 </div>

                            </div>
                            <div class="b-cngip-meta-col">
                                        <div class="b-cngip-multisystem">
                                            <div class="b-cngip-multisystem-label" data-toggle="collapse" data-target="#collapseMultiTotal186243" aria-expanded="false">
                                                <div class="b-cngip-price">@item.Price$</div>

                                            </div>
                                        </div>

            

        
                            </div>
                            <div class="b-cngip-meta-btn">
                                <ul class="b-htconf-btns-list">
                                                <li>
                                                            <a class="b-cngip-btn-add add_assembly_product" href="javascript: void(0);" title="Добавить в сборку">Добавить</a>
                                                    </li>
                                </ul>

                            </div>
                        </div>                    </li>
                                }
                            </ul>
                                
                            <div class="clear"></div>
                            <!-- /Pagination -->
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="b-config-wpanel b-config-wpanel-mtn " id="corpus" data-quantity="" data-category_id="405" data-price="0" data-prev_price="0" data-games="0" data-padeg="корпусом" data-percent="6">
                <div class="b-cwp-item">
                    <div class="b-cwp-item-tb">
                        <div class="b-cwp-item-td-step"><div class="b-cwp-item-step">9</div></div>
                        <div class="b-cwp-item-td-name"><div class="b-cwp-item-name">Корпус</div></div>
                        <div class="b-cwp-item-td-ico"><img src="/configurator/images/confg-ico-8.svg" alt=""></div>
                        <div class="b-cwp-item-td-desc"><div class="b-cwp-item-desc">Корпус пока еще не добавлен</div></div>
                        <div class="b-cwp-item-td-btns">
                            <a class="b-cwp-item-btn-add show_products" href="javascript: void(0);" aria-expanded="true" title="Выбрать товар">Добавить</a>
                            <a class="b-cwrh-toggle hide_products" style="display: none;" href="javascript: void(0);" aria-expanded="true" title="Скрыть"><span></span></a>
                        </div>
                    </div>
                    <div class="b-cwp-item-tb ok" style="display: none;">
                        <div class="b-cwp-item-td-step"><div class="b-cwp-item-step-ok"></div></div>
                        <div class="b-cwp-item-td-name">
                            <div class="b-cwp-item-name">Корпус</div>
                            <div class="b-incompatible-part" style="display: none;">Несовместимо: <a href="javascript: void(0);" data-toggle="modal" data-target="#popupHNoCompat"></a></div>
                            <div class="assembly_error" style="display: none;"></div>
                        </div>

                        <div class="b-cwp-item-td-ico b-cwp-item-td-ico-selected"><img src="/configurator/images/confg-pic-1.png" width="100" height="100" alt=""></div>
                        <div class="b-cwp-item-td-desc">
                            <a class="b-cwp-item-product-name" target="_blank" href=""></a>
                            <div class="b-cwp-item-product-articul"></div>
                        </div>
                        <div class="b-cwp-item-td-price">
                            <div class="cont">
                            </div>
                            <a class="b-cwp-btn-delete" href="javascript: void(0);">Удалить</a>
                        </div>
                        <div class="b-cwp-item-td-btns">
                            <a class="b-cwp-item-btn-change show_products" href="javascript: void(0);" title="Заменить">Заменить</a>
                            <a class="b-cwrh-toggle hide_products" style="display: none;" href="javascript: void(0);" aria-expanded="true" title="Скрыть"><span></span></a>
                        </div>

                    </div>
                </div>
                <div class="b-cwp-body collapse" id="collapseConfigBody405">
                    <div class="b-cwp-body-inner">
                        <div class="loader text-center">
                            <svg width="44" height="44" viewBox="0 0 44 44" xmlns="http://www.w3.org/2000/svg" stroke="#60aa2a">
                                <g fill="none" fill-rule="evenodd" stroke-width="2">
                                    <circle cx="22" cy="22" r="1">
                                        <animate attributeName="r" begin="0s" dur="1.8s" values="1; 20" calcMode="spline" keyTimes="0; 1" keySplines="0.165, 0.84, 0.44, 1" repeatCount="indefinite"></animate>
                                        <animate attributeName="stroke-opacity" begin="0s" dur="1.8s" values="1; 0" calcMode="spline" keyTimes="0; 1" keySplines="0.3, 0.61, 0.355, 1" repeatCount="indefinite"></animate>
                                    </circle>
                                    <circle cx="22" cy="22" r="1">
                                        <animate attributeName="r" begin="-0.9s" dur="1.8s" values="1; 20" calcMode="spline" keyTimes="0; 1" keySplines="0.165, 0.84, 0.44, 1" repeatCount="indefinite"></animate>
                                        <animate attributeName="stroke-opacity" begin="-0.9s" dur="1.8s" values="1; 0" calcMode="spline" keyTimes="0; 1" keySplines="0.3, 0.61, 0.355, 1" repeatCount="indefinite"></animate>
                                    </circle>
                                </g>
                            </svg>
                        </div>
                        <div class="b-cwp-body-inner-pad" style="display: none;">
                            <div class="b-cwp-bi-side">
                            </div>
                             <div class="b-cwp-bi-main"><div class="b-catalog-top-info b-no-border">
    <div class="b-pagehead"><span class="b-head">Процессор</span> </div>
    <div class="b-catalog-top-info-meta clearfix">
        <div class="b-cat-sortmore" data-orderby="popular" data-orderway="desc">
        </div>

    </div>

                          

                        <ul class="b-cwp-bi-result-list">
                            
                        @foreach(var item in ViewBag.Case)              {
                                    <li class="b-item" data-product_id="186243" data-price="@item.Price">
                            


                        <div class="b-cng-item-prod product_wrapper" data-product_global_id="186243" data-price="612">
                            <div class="b-cngip-pic">
                                <span>
                                    <img src="~/img/Case_img/@item.TitleImagePath" width="100" alt="Фото Gigabyte GeForce RTX 2060 SUPER Gaming OC 3X 8192MB (GV-N206SGAMING OC-8GD)">
                                </span>
                            </div>
                            <div class="b-cngip-mid-col">
                                        <div class="b-cngip-head">
                                    <a target="_blank" href="https://nerdpart.com/ru/product/186243">@item.Name</a>
                                </div>


                                    <div class="b-cngip-tb-mpc">
                                        <div class="b-ctm-pic">
                                            <img src="" alt="">
                                        </div>
                                    </div>
        
                                <div class="b-cngip-mc-meta">
                                    <div class="b-cwp-item-product-articul">
                                                        Код: <i>@item.Id</i>
                                     </div>
                                </div>
                                <div class="b-cngip-short-chars">
                                    <p>Линейка: <span>Game</span><br>Описание:<span>@item.Desc</span></p>
                                 </div>

                            </div>
                            <div class="b-cngip-meta-col">
                                        <div class="b-cngip-multisystem">
                                            <div class="b-cngip-multisystem-label" data-toggle="collapse" data-target="#collapseMultiTotal186243" aria-expanded="false">
                                                <div class="b-cngip-price">@item.Price$</div>

                                            </div>
                                        </div>

            

        
                            </div>
                            <div class="b-cngip-meta-btn">
                                <ul class="b-htconf-btns-list">
                                                <li>
                                                            <a class="b-cngip-btn-add add_assembly_product" href="javascript: void(0);" title="Добавить в сборку">Добавить</a>
                                                    </li>
                                </ul>

                            </div>
                        </div>                    </li>
                                }
                            </ul>
                                
                            <div class="clear"></div>
                            <!-- /Pagination -->
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <button class="b-btn-get-started" style="display: none;">подобрать компьютер</button>
     </div>

</div>

<script type="text/javascript">
    $(".b-cwp-item").on('click', function () {
        if($(this).parent().find('.b-cwp-body').hasClass('collapse')){
            $(this).parent().find('.b-cwp-body').toggleClass('collapse collapsed');
            $(this).parent().find('.loader').show();
            setTimeout(()=>{
                 
                 $(this).parent().find('.b-cwp-body-inner-pad').show();
                 $(this).parent().find('.loader').hide();    
                 $(this).find('.b-cwp-item-btn-add').addClass('exit');    

            },300);
            
        }
        else if($(this).parent().find('.b-cwp-body').hasClass('collapsed')){
            $(this).parent().find('.b-cwp-body').toggleClass('collapsed collapse')
            $(this).parent().find('.b-cwp-body-inner-pad').hide();
            $(this).find('.b-cwp-item-btn-add').removeClass('exit');
        }
    });
 
    var processor = {
         check: false,
         price: 0,
         socketversion: null
    };
      var matplata = {
         check: false,
         price: 0,
         ozuversion: null,
         socketversion: null
    };
      var ozu = {
         check: false,
         price: 0,
         ozuversion: null
    };
     var videocard = {
         check: false,
         price: 0,
    };
     var blockpower = {
         price: 0,
         check: false
    };
     var systemcold = {
         price: 0,
         check: false
    };
     var ssd = {
         price: 0,
         check: false
    };
     var dvd = {
         price: 0,
         check: false
    };
     var corpus = {
         price: 0,
         check: false
    };




    $('.add_assembly_product').on('click', function () {
        var title = $(this).closest('.product_wrapper').find('.b-cngip-head a').text();
        $(this).closest('.b-config-wpanel').find('.b-cwp-item-desc').text(title);
        var img = $(this).closest('.product_wrapper').find('.b-cngip-pic img').attr('src');
        $(this).closest('.b-config-wpanel').find('.b-cwp-item-td-ico img').attr('src', img);
        $(this).closest('.b-cwp-body').toggleClass('collapsed collapse');
        $(this).closest('.b-cwp-body').find('.b-cwp-body-inner-pad').hide();

        switch($(this).closest('.b-config-wpanel').attr('id')){
            case 'processor': {
                processor.check = true;
                processor.socketversion = $(this).closest('.product_wrapper').find('.socketversion').text();
                processor.price = parseFloat($(this).closest('.product_wrapper').find('.b-cngip-price').text().slice(0,-1));
                break;
            }
            case 'matplata': {
                matplata.check = true;
                matplata.ozuversion = $(this).closest('.product_wrapper').find('.ozuversion').text();
                matplata.socketversion = $(this).closest('.product_wrapper').find('.socketversion').text();
                matplata.price = parseFloat($(this).closest('.product_wrapper').find('.b-cngip-price').text().slice(0,-1));
                break;
            }
            case 'ozu': {
                ozu.check = true;
                ozu.price = parseFloat($(this).closest('.product_wrapper').find('.b-cngip-price').text().slice(0,-1));
                ozu.ozuversion = $(this).closest('.product_wrapper').find('.ozuversion').text();
                break;
            }
            case 'videocard': {
                videocard.check = true;
                videocard.price = parseFloat($(this).closest('.product_wrapper').find('.b-cngip-price').text().slice(0,-1));
                break;
            }
            case 'blockpower': {
                blockpower.check = true;
                blockpower.price = parseFloat($(this).closest('.product_wrapper').find('.b-cngip-price').text().slice(0,-1));
                break;
            }
            case 'systemcold': {
                systemcold.check = true;
                systemcold.price = parseFloat($(this).closest('.product_wrapper').find('.b-cngip-price').text().slice(0,-1));
                break;
            }
            case 'ssd': {
                ssd.check = true;
                ssd.price = parseFloat($(this).closest('.product_wrapper').find('.b-cngip-price').text().slice(0,-1));
                break;
            }
            case 'dvd': {
                dvd.check = true;
                dvd.price = parseFloat($(this).closest('.product_wrapper').find('.b-cngip-price').text().slice(0,-1));
                break;
            }
            case 'corpus': {
                corpus.check = true;
                corpus.price = parseFloat($(this).closest('.product_wrapper').find('.b-cngip-price').text().slice(0,-1));
                break;
            }
        };
        if(processor.check && matplata.check && ozu.check && videocard.check && blockpower.check && systemcold.check && ssd.check && dvd.check && corpus.check){ 
             $('.b-btn-get-started').show('slow');
        }else{
             $('.b-btn-get-started').hide('slow');
        }
    });
    $('.b-btn-get-started').on('click', function(){
            if(matplata.socketversion == processor.socketversion && matplata.ozuversion == ozu.ozuversion) {
                $('.modal_message').show();
                $('.modal_message').addClass('green');
                $('.modal_message').removeClass('red');
                var price = processor.price + matplata.price + ozu.price + videocard.price + blockpower.price + systemcold.price + ssd.price + dvd.price + corpus.price;
                $('.modal_message').find('.blockmodel').text('Сіздің жиынтығыңыз сәйкес келді! Бағасы: ' + price + '$');
            }
            else {
                $('.modal_message').show();
                $('.modal_message').addClass('red');
                $('.modal_message').removeClass('green');
                $('.modal_message').find('.blockmodel').text('Сіздің жиынтығыңыз сәйкес келмеді!');
            }
    });
    $('.modal_message').on('click', function(){
         $(this).hide();
    });

</script>